.treeNode {
  text-align: center;
  border: 1px;
  border-color: red;
  border-style: solid;
  margin-bottom: 10px;
}

.treeNode > .nodeId {
  font-weight: bold;
}
.treeNode > .nodeChildren {
  padding: 10px;
  border: 1px;
  border-color: blue;
  border-style: solid;
}

.isSmallestDeepest {
  font-weight: bold;
  text-align: center;
  border: 2px;
  border-color: green;
  border-style: solid;
  margin-bottom: 10px;
}
